@* Header: única responsabilidad de identidad de marca (SOLID - S). *@
<header class="csj-header" role="banner">
    <div class="csj-header__inner">
        <div class="csj-logo">
            <img src="SANJ.png" alt="Club San Jorge" class="csj-logo__img" />
            <div class="csj-logo__text">
                <span class="csj-logo__name">Club San Jorge</span>
                <span class="csj-logo__tagline">Con nosotros podés</span>
            </div>
        </div>
    </div>
</header>
